<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hover Effect Table</title>
    <link href="../css/output.css" rel="stylesheet" />
  </head>

  <body class="bg-gray-200 p-4">
    <h1 class="text-center text-2xl text-green-700">GeeksforGeeks</h1>
    <h3 class="text-center text-2xl text-green-700 my-4">Hover Effect Table</h3>
    <table class="table-auto w-full bg-white border border-gray-300">
      <thead class="bg-green-500 text-white">
        <tr>
          <th class="border border-gray-300 px-4 py-2">Name</th>
          <th class="border border-gray-300 px-4 py-2">Class</th>
          <th class="border border-gray-300 px-4 py-2">Address</th>
        </tr>
      </thead>
      <tbody>
        <tr class="hover:bg-green-100">
          <td class="border border-gray-300 px-4 py-2">Shiv</td>
          <td class="border border-gray-300 px-4 py-2">1</td>
          <td class="border border-gray-300 px-4 py-2">Noida</td>
        </tr>
        <tr class="hover:bg-green-100">
          <td class="border border-gray-300 px-4 py-2">Ganesh</td>
          <td class="border border-gray-300 px-4 py-2">1</td>
          <td class="border border-gray-300 px-4 py-2">Noida</td>
        </tr>
        <tr class="hover:bg-green-100">
          <td class="border border-gray-300 px-4 py-2">Krishn</td>
          <td class="border border-gray-300 px-4 py-2">1</td>
          <td class="border border-gray-300 px-4 py-2">Noida</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
